[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-static = "*"
django-el-pagination = "*"
django-pagedown = "*"
django-simple-math-captcha = "*"
django-crispy-forms = "*"
django-import-export = "*"
django-summernote = "*"
django = "==2.2.3"
pyyaml = "*"
psycopg2 = "*"
django-jet = "*"
django-debug-toolbar = "*"
requests = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.6"
