[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dj-database-url = "*"
dj-static = "*"
django-crispy-forms = "*"
django-debug-toolbar = "*"
django-el-pagination = "*"
django-extensions = "*"
django-import-export = "*"
django-jet = "*"
django-pagedown = "*"
django-simple-math-captcha = "*"
django-summernote = "*"
gunicorn = "*"
pillow = "*"
psycopg2 = "*"
psycopg2-binary = "*"
pyyaml = "*"
requests = "*"
whitenoise = "*"
django = "==2.2.21"

[requires]
python_version = "3.6"
