{% if is_paginated %}
   <nav>
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
        {% endif %}
          <li class="page-item active"><a href="#" class="page-link">{{ page_obj.number }}/ {{ page_obj.paginator.num_pages }} </a></li>
        {% if page_obj.has_next %}
          <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
        {% endif %}
      </ul>
   </nav>
{% endif %}

<main class="container-fluid p-1" >
		<section class="row my-4">
				<div class="col-12 ">
						{% if posts %}
						{% for post in posts %}
						<div class="list-group list-group-flush mb-3">
								<article class="list-group-item list-group-item-action">
									 <div class="row">
											 <div class="col12 col-md-2">
													{% if post.image.url != '' %}
													 <img src="{{ post.image.url }}" class="img-fluid img-thumbnail" alt="{{ post.title }}" width="480" height="320">
													 {% endif %}
											 </div>
											 <div class="col12 col-md-10">
													{% if post.image.url != '' %}
														<a href="{{ post.get_absolute_url }}"><h1 class="h3">{{ post.title }}</h1></a>
														{% endif %}
														<p>{{ post.bodytext|safe }}</p>
														<!-- <a href="{{ post.get_absolute_url }}" class="btn bg-nav-film text-white mt-auto">En savoir plus</a> -->
											 </div><!---End second column of Article-->
									 </div>
								</article><!--end article.list-group-item-->
						</div><!--End div.list-group-->
						{% endfor %}
						{% else %}
						<p>Désolé mais il n'a y pas de news pour le moment.</p>
						{% endif %}
				</div><!--End first column-->
		</section><!--end section.row-->
</main><!--end main.container-fluid-->

{% if is_paginated %}
   <nav>
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
        {% endif %}
          <li class="page-item active"><a href="#" class="page-link">{{ page_obj.number }}/ {{ page_obj.paginator.num_pages }} </a></li>
        {% if page_obj.has_next %}
          <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
        {% endif %}
      </ul>
   </nav>
{% endif %}
