{% extends 'film/commun.html' %}
{% load static %}

{% block content %}

<main class="container-fluid" >
    <article class="m-0">
            <div class="row d-flex border">     
                    <div class="col-sm-12 col-lg-2">
                            <img  class="img-fluid rounded float-left d-block mr-4 mt-2" src="{% static 'film/img/Logo anniversaire.jpg' %}" alt="audioviz">     
                    </div>
                       
                    <div class="col-10">
                    <h1 class="h2">L'association Audioviz</h1> 
                        <h2 class="h3">Objet</h2>
                        <p>Cette association a pour objectif : <br>
                        <div class="ml-3"> 
                            la production/réalisation de :  <br>
                            <div class="ml-3"> 
                                courts, moyens et longs métrages <br>
                                clips vidéos <br>
                                films institutionnels <br>
                                reportages <br>
                            </div>
                            de renforcer les liens sociaux par la réalisation en équipe d'une œuvre audiovisuelle <br>
                        </div>
                      
                        </p>
                        <h2>Membres</h2>
                        <div class="ml-3">
                            <p class="h4">Président</p> <a href="">Benjamin Belando</a>
                            <p class="h4">Vice-président</p><a href="">Loic Artieri</a>
                            <p class="h4">Trésorière/Secrétaire</p><a href="">Carole Belando</a>
                        </div> <br>
                        <h2>Sélections Officielles</h2> 
            
                        <p class="ml-3">
                        <strong>Les Récupérateurs :</strong> Sélectionné par Allociné dans la rubrique Court-métrage – Internet (Décembre 2011) <br>
                        <strong>Gunland :</strong> Sélection Officielle au festival CINEMATOR – Carros  (Mars 2012) <br>
                    Patriote : Sélection Officielle au festival CINEMATOR – Carros  (Mars 2013) <br>
                    Izo : Sélection Officielle au festival Entr’2 Marches – Cannes (Mai 2013) <br>
                    Zico : Sélectionné sur le site OnrealiZ.com pour les courts-métrages francophone amateurs du mois d’octobre – Internet (Octobre 2013) Izo : Projection Cinema du court-métrage en Alsace  (Octobre 2013) <br>
                    Izo : Sélection Officielle pour la 15ème édition des rencontres vidéos mental– Paris (Novembre  2013)Je suis une promenade : Sélection Officielle au festival Nikon 4 ème édition « Je suis un souvenir » (Janvier  2014) <br>
                    Je suis un souvenir de jeunesse : Sélection Officielle au festival Nikon 4 èmeédition « Je suis un souvenir » (Janvier  2014) <br>
                    Izo : Sélection Officielle pour une édition des rencontres vidéos mental – Nancy (Mars 2014) <br>
                    Dyslexie : Sélection Officielle pour le 1 er  Printemps des Dys  - Thiers (Avril 2014) <br>
                </p> 
                <h2>Récompense</h2>
                <p class="h4 ml-3">Izo : Prix du Public festival Entr’2 Marches – Cannes (Mai 2013)</p>  
            </div>
    </article>
</main>
 
{% endblock %}
