{% extends 'film/commun.html' %}

{% block content %}

<main class="container-fluid mb-4" >
   
           <div class="col-12 col-md-6">
                  
                  
                  <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Message envoyé !</h4>
                    <p> Votre message a été envoyé avec succès. Nous vous en remercions..</p>
                    <hr>
                    <p class="mb-0">Un de nos membres vous répondra dans les plus brefs délais.</p><br>
                    <a href="{% url 'index' %}"><button class="btn bg-nav-film text-white" >Retour à l'acceuil</button></a>
                  </div>
                  
           </div><!--End Second Column (Contact Form)-->

    </main><!--end main.container-fluid-->
  
{% endblock %}
