<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'film/css/bootstrap.min.css' %}" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

  </head>
  <body style="padding-top:70px; padding-bottom: 70px;">
    <header class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <a href="#" class="navbar-brand">
           <img src="{% static 'film/img/logoAudiovizRVB.jpg' %}" alt="Logo">
        </a><!--end a.navbar-brand-->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-content">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <nav class="mr-auto">
               <ul class="navbar-nav">
                    <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                   <li class="nav-item active"><a href="nav-link" class="nav-link">News</a></li>
                   <li class="nav-item"><a href="" class="nav-link">Nos Créations</a></li>
                   <li class="nav-item"><a href="" class="nav-link">Blog</a></li>
                   <li class="nav-item"><a href="https://shop.spreadshirt.fr/audioviz/" class="nav-link">Boutique</a></li>
                   <li class="nav-item dropdown">
                       <a href="#" class="nav-link dropdown-toggle" id="aboutDropdownBtn" data-toggle="dropdown">À propos</a>
                       <ul class="dropdown-menu">
                           <li class="dropdown-item"><a href="about.html">Association</a></li>
                           <li class="dropdown-item"><a href="about.html">L'équipe</a></li>
                           <li class="dropdown-item"><a href="about.html">Presse</a></li>
                       </ul>
                   </li>
                   <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
               </ul><!--end ul.navbar-nav-->
            </nav>
            <form class="form-inline" id="searchForm">
               <div class="input-group">
                  <input type="search" name="q" placeholder="Rechercher" class="form-control" />
                  <div class="input-group-append">
                      <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                  </div>
               </div><!--end div.input-group in form#searchForm-->
            </form><!--end form#searchForm-->
        </div><!--end div#navbar-content.navbar-collapse-->
   </header><!--End header.navbar-->
   
   
   <main class="container-fluid mb-2" >
    <section class="row my-4">
        <div class="col-12 col-lg-4" >
                <img src="{% static 'film/img/slide-2.jpg' %}" alt="Bureau DiDaXo" class="img-fluid rounded">
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minus quae at a tempora, maiores excepturi ullam nostrum iste</p>
                <a class="btn btn-primary" href="about.html">En savoir plus</a>
        </div><!--end image first row-->
        <div class="col-12 col-lg-4">
            <img src="{% static 'film/img/slide-1.jpg' %}" alt="Bureau DiDaXo" class="img-fluid rounded">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minus quae at a tempora, maiores excepturi ullam nostrum iste</p>
            <a class="btn btn-primary" href="about.html">En savoir plus</a>
        </div><!--end image first row-->
        <div class="col-12 col-lg-4">
            <img src="{% static 'film/img/slide-3.jpg' %}" alt="Bureau DiDaXo" class="img-fluid rounded">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minus quae at a tempora, maiores excepturi ullam nostrum iste</p>
            <a class="btn btn-primary" href="about.html">En savoir plus</a>       
        </div><!--end second column of first row-->
    </section><!--end section.row First Row-->
    <div class="input-group mb-4">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Nos créations - filtrer par genre</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choisir le genre..</option>
          <option value="1">Long métrage</option>
          <option value="2">Court métrage</option>
          <option value="3">Cuisine</option>
          <option value="4">Fan Film</option>
        </select> <!--fin Bouton de filtre  Genre-->
      
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Filtrer par annnée de création </label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choisir l'année</option>
              <option value="1">2018</option>
              <option value="2">2017</option>
              <option value="3">2016</option>
              <option value="4">2003-2015</option>
            </select>
          </div>
<!-- films  -->
    <section class="row">
       <div class="col-12 col-md-6 col-lg-2 d-flex">
          <div class="card">
            <img src="{% static 'film/img/AffichesFilms/007fanfilmafficheleger.jpg' %}" alt="Teaching" class="card-img-top" />
             <div class="card-body d-flex flex-column">
               <h1 class="card-title h3">007 Fan Film : The case is not enough</h1>
               <p class="card-text">James Bond doit retrouver une mallette d'une importance capitale.</p>
               <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
             </div><!--end .card-body-->
          </div><!--End .card-->
       </div><!--End first element-->
       <div class="col-12 col-md-6 col-lg-2 d-flex d-flex">
          <div class="card">
            <img src="{% static 'film/img/AffichesFilms/Affiche preventive The Rock III.jpg' %}" alt="coding" class="card-img-top" />
             <div class="card-body d-flex flex-column">
               <h1 class="card-title h3">Lorem ipsum dolor sit amet.</h1>
               <p class="card-text">Quis, perferendis temporibus nihil cupiditate illum fuga quod nobis quae sed, pariatur vero eius aliquam mollitia error laudantium officia, nemo iste alias corporis consequatur modi reiciendis soluta!</p>
               <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
             </div><!--end .card-body-->
          </div><!--End .card-->
       </div><!--End second element-->
       <div class="col-12 col-md-6 col-lg-2 d-flex">
          <div class="card">
            <img src="{% static 'film/img/AffichesFilms/afficheDyslexie-1.jpg' %}" alt="video" class="card-img-top" />
             <div class="card-body d-flex flex-column">
               <h1 class="card-title h3">Lorem ipsum dolor sit amet.</h1>
               <p class="card-text">Dolor accusantium odio animi quam. At quis eaque, voluptates ab maiores incidunt, accusamus et aliquid! Eos, porro.</p>
               <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
             </div><!--end .card-body-->
          </div><!--End .card-->
       </div><!--End third element-->
       <div class="col-12 col-md-6 col-lg-2 d-flex">
          <div class="card">
            <img src="{% static 'film/img/AffichesFilms/screamfanfilmclipmetrageaffiche3.jpg' %}" alt="mixing" class="card-img-top" />
             <div class="card-body d-flex flex-column">
               <h1 class="card-title h3">Lorem ipsum dolor sit amet.</h1>
               <p class="card-text">Nemo dignissimos numquam similique, cupiditate veritatis quae fuga facilis perferendis enim, odio quod architecto dolorem. Dolor, aperiam.</p>
                 <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
             </div><!--end .card-body-->
          </div><!--End .card-->
       </div><!--End fourth element-->
       <div class="col-12 col-md-6 col-lg-2 d-flex">
        <div class="card">
          <img src="{% static 'film/img/AffichesFilms/Affiche Escape.jpg' %}" alt="mixing" class="card-img-top" />
           <div class="card-body d-flex flex-column">
             <h1 class="card-title h3">Lorem ipsum dolor sit amet.</h1>
             <p class="card-text">Mélange étourdissant entre le « Feel good movie » (ces fameux films que l’on regarde en se sentant bien), le « Hangout movie » </p>
               <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
           </div><!--end .card-body-->
        </div><!--End .card-->
     </div><!--End fourth element-->
     <div class="col-12 col-md-6 col-lg-2 d-flex">
        <div class="card">
          <img src="{% static 'film/img/AffichesFilms/afficheAdditional - lege.jpg' %}" alt="mixing" class="card-img-top" />
           <div class="card-body d-flex flex-column">
             <h1 class="card-title h3">Lorem ipsum dolor sit amet.</h1>
             <p class="card-text">Nemo dignissimos numquam similique, cupiditate veritatis quae fuga facilis perferendis enim, odio quod architecto dolorem. Dolor, aperiam.</p>
               <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
           </div><!--end .card-body-->
        </div><!--End .card-->
     </div><!--End fourth element-->
    </section><!--End section.row third row-->
    <section class="row">
            <div class="col-12 col-md-6 col-lg-2 d-flex">
               <div class="card">
                 <img src="{% static 'film/img/AffichesFilms/007fanfilmafficheleger.jpg' %}" alt="Teaching" class="card-img-top" />
                  <div class="card-body d-flex flex-column">
                    <h1 class="card-title h3">007 Fan Film : The case is not enough</h1>
                    <p class="card-text">James Bond doit retrouver une mallette d'une importance capitale.</p>
                    <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
                  </div><!--end .card-body-->
               </div><!--End .card-->
            </div><!--End first element-->
            <div class="col-12 col-md-6 col-lg-2 d-flex d-flex">
               <div class="card">
                 <img src="{% static 'film/img/AffichesFilms/Affiche preventive The Rock III.jpg' %}" alt="coding" class="card-img-top" />
                  <div class="card-body d-flex flex-column">
                    <h1 class="card-title h3">Lorem ipsum dolor sit amet.</h1>
                    <p class="card-text">Quis, perferendis temporibus nihil cupiditate illum fuga quod nobis quae sed, pariatur vero eius aliquam mollitia error laudantium officia, nemo iste alias corporis consequatur modi reiciendis soluta!</p>
                    <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
                  </div><!--end .card-body-->
               </div><!--End .card-->
            </div><!--End second element-->
            <div class="col-12 col-md-6 col-lg-2 d-flex">
               <div class="card">
                 <img src="{% static 'film/img/AffichesFilms/afficheDyslexie-1.jpg' %}" alt="video" class="card-img-top" />
                  <div class="card-body d-flex flex-column">
                    <h1 class="card-title h3">Lorem ipsum dolor sit amet.</h1>
                    <p class="card-text">Dolor accusantium odio animi quam. At quis eaque, voluptates ab maiores incidunt, accusamus et aliquid! Eos, porro.</p>
                    <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
                  </div><!--end .card-body-->
               </div><!--End .card-->
            </div><!--End third element-->
            <div class="col-12 col-md-6 col-lg-2 d-flex">
               <div class="card">
                 <img src="{% static 'film/img/AffichesFilms/screamfanfilmclipmetrageaffiche3.jpg' %}" alt="mixing" class="card-img-top" />
                  <div class="card-body d-flex flex-column">
                    <h1 class="card-title h3">Lorem ipsum dolor sit amet.</h1>
                    <p class="card-text">Nemo dignissimos numquam similique, cupiditate veritatis quae fuga facilis perferendis enim, odio quod architecto dolorem. Dolor, aperiam.</p>
                      <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
                  </div><!--end .card-body-->
               </div><!--End .card-->
            </div><!--End fourth element-->
            <div class="col-12 col-md-6 col-lg-2 d-flex">
             <div class="card">
               <img src="{% static 'film/img/AffichesFilms/Affiche Escape.jpg' %}" alt="mixing" class="card-img-top" />
                <div class="card-body d-flex flex-column">
                  <h1 class="card-title h3">Lorem ipsum dolor sit amet.</h1>
                  <p class="card-text">Mélange étourdissant entre le « Feel good movie » (ces fameux films que l’on regarde en se sentant bien), le « Hangout movie » </p>
                    <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
                </div><!--end .card-body-->
             </div><!--End .card-->
          </div><!--End fourth element-->
          <div class="col-12 col-md-6 col-lg-2 d-flex">
             <div class="card">
               <img src="{% static 'film/img/AffichesFilms/afficheAdditional - lege.jpg' %}" alt="mixing" class="card-img-top" />
                <div class="card-body d-flex flex-column">
                  <h1 class="card-title h3">Lorem ipsum dolor sit amet.</h1>
                  <p class="card-text">Nemo dignissimos numquam similique, cupiditate veritatis quae fuga facilis perferendis enim, odio quod architecto dolorem. Dolor, aperiam.</p>
                    <a href="#" class="btn btn-primary mt-auto">En savoir plus</a>
                </div><!--end .card-body-->
             </div><!--End .card-->
          </div><!--End fourth element-->
         </section><!--End section.row third row-->
</main><!--end main.container-fluid-->
    


<div class="container">
      <div class="row">
        <div class="box">
          {% block content %}{% endblock %}
        </div>
      </div>
</div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; <a href="" target="_blank">Angel Belando</a> pour <a href=" target="_blank">Audioviz</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'film/js/jquery-3.3.1.slim.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'film/js/bootstrap.bundle.min.js' %}"></script>

    <!-- fontawesomet -->
    <script src="{% static 'film/js/fontawesome-all.min.js' %}"></script>

  </body>
</html>