{% extends 'film/commun.html' %}

{% block content %}

<main class="container-fluid" >
          <article class="m-4">
              <div class="row  border"></br>
                    <div class="scroll-film col-sm-12 col-lg-3 border"">
                    <img class="img-fluid" src="{{ film.picture.url }}" alt="{{ film.title }}" />
                    <h1 class="h1">{{ film.title }}</h1>
                    <p><strong>Synopsis</strong></br>{{ film.synopsis}}</p>
                    <blockquote class="blockquote">
                        <footer class="blockquote-footer">Voici de quoi vous donner envie de voir ce fabuleux film. Bonne projection et à bientôt sur Audioviz.</cite></footer>
                    </blockquote>
                    <p><strong>Genre</strong></br>{{ film.genre }}</p>
                    <p><strong>Année</strong></br>{{ film.an_creation }}</p>
                    </div>     

                    <div class="scroll-film  col-sm-12 col-lg-2 border ">
                            <p class="h4 p-2 mb-1 bg-film text-secondary text-center rounded text-center">Générique</p></br>
                            <div class="d-flex align-items-center">
                                <div>
                                    {% for role_film in roles_film %} 
                                    <p class="text-left"><strong>{{ role_film.role }}</strong></span> <a href="{% url 'films:detailacteur' role_film.acteur_id   %}">
                                        <span class="text-justify-right">{{ role_film.acteur }}</span></a></p> 
                                    {% endfor %}         
                                </div>                                 
                            </div>
                    </div>

                    <div class="scroll-film col-sm-12 col-lg-4 border">
                            {% for video in film.video.all %}                       
                                <p class="h4 p-2 mb-1 bg-film text-secondary text-center rounded"">{{ video.name }}</p>
                                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/uX-UslzP_vE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                                <div class="embed-responsive embed-responsive-16by9">
                                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.UrlVideo }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div> 
                                <p class="mb-1"></p>
                            {% endfor %}
                    </div> 
                    
                    <div class="scroll-film col-sm-12 col-lg-3  border">
                        <p class="h3 p-2 mb-1 bg-film text-secondary text-center rounded">Suggestions</p>
                        {% for suggestion in suggestions %}                      
                            {% for video in suggestion.video.all %}
                                {% if video not in film.video.all%}
                                <div class="embed-responsive embed-responsive-4by3">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.UrlVideo }}"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>     
                                <p class="mb-1"></p>
                                {% endif %} 
                            {% endfor %}                                
                        {% endfor %}                   
                    </div> 
              </div>

              {% if film.photo.all %}
       
              <div class="row d-flex">

                    <div class="col-12 border">
                        </br>
                           <div class="container-fluid">
                                <p class="h3 p-2 mb-1 bg-film text-secondary text-center rounded">Gallerie de photos</p>
                                <div class="tz-gallery">                               
                                    <div class="row">
                                        {% for photo in film.photo.all %}
                                        <div class="col-sm-12 col-md-2">
                                            <a class="lightbox" href="{{ photo.photo.url }}">
                                                <img src="{{ photo.photo.url }}" alt="{{ photo.name }}">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>                               
                                </div>
                            </div> 
                    </div>           
                </div> 
               {% endif%}
          </article>

</main><!--end main.container-fluid-->
{% endblock %}
