{% extends 'film/commun.html' %}

{% block content %}

<!-- ------------------------travail -->
<main class="container-fluid mb-4" >
   <section class="row my-4">
       <div class="col-12 col-md-9">
          <!--Begin Breadcrumb-->
          <nav>
               <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a href="{% url 'films:index' %}">Accueil</a></li>
                   <li class="breadcrumb-item"><a href="{% url 'films:index' %}">Nos créations</a></li>
                   <li class="breadcrumb-item"><a href="{% url 'films:index' %}">Films</a></li>
                   <li class="breadcrumb-item active">Détail Acteur</li>
               </ol>
          </nav>
          <!--End Breadcrumb-->
          <article class="mb-3">
                <h1 class="h1">{{ acteur.name }}</h1>
                <p class="p">{{ acteur.resumeCV }}</p>
                <figure class="figure float-lg-left mr-3">
                    {% if  acteur.photoActeur %}
                    <img src="{{ acteur.photoActeur.url }}" alt="{{ acteur.name }}" />  
                    {% else%}
                    <img src="#" alt="{{ acteur.name }}" />
                    {% endif %}
                    <figcaption class="figure-caption">{{ acteur.name}}</figcaption>
                </figure>
                
          </article>
          </section><!--end Category section-->
      </div><!--End second column-->
  </section><!--end section.row-->
   </section><!--end section.row-->
</main><!--end main.container-fluid-->
{% endblock %}
