{% extends 'film/commun.html' %}

{% block content %}

<main class="container-fluid" >
          <article class="m-2">
              <div class="row d-flex border"></br>
                <div class="col-sm-12 col-lg-5 border"">
                <img class="img-fluid rounded float-left d-block mr-4 mt-2 mb-2" src="{{ film.picture.url }}" alt="{{ film.title }}" width="240" height="320"  />
                    <h1 class="h2">{{ film.title }}</h1>
                    <p>{{ film.synopsis|safe }}</p>
                    <!-- <blockquote class="blockquote">
                        <footer class="blockquote-footer">Voici de quoi vous donner envie de voir ce fabuleux film. Bonne projection et à bientôt sur Audioviz.</cite></footer>
                    </blockquote> -->
                    <p>
                    <strong>Genre : </strong>{{ film.genre }}
                    <strong>  Année : </strong>{{ film.an_creation }}
                    <br>
                    <div class="line-height-acteur">
                        {% for role_film_Autres in roles_film_Autres %} 
                        <strong>{{ role_film_Autres.role }} :</strong>
                        <a href="{% url 'films:detailacteur' role_film_Autres.acteur_id  %}">{{ role_film_Autres.acteur }}</a> <br>
                        {% endfor %}   
                       
                        <strong>Acteurs :</strong>
                        {% for role_film_Acteurs in roles_film_Acteurs %} 
    
                            <a href="{% url 'films:detailacteur' role_film_Acteurs.acteur_id  %}">
                            {{ role_film_Acteurs.acteur }}</a>
                      
                        {% endfor %}  
                    </div>
                    
                    </p>
                    {% if film.photo.all %}
                    <div class="row col-12">
      
                          <div class="col-12 border">
                                 <div class="container-fluid">
                                      <p class="h3 p-2 mb-1 text-center rounded">Galerie de photos</p>
                                      <div class="tz-gallery">                               
                                          <div class="row">
                                              {% for photo in film.photo.all %}
                                              <div class="col-sm-12 col-md-3">
                                                  <a class="lightbox" href="{{ photo.photo.url }}">
                                                      <img src="{{ photo.photo.url }}" alt="{{ photo.name }}">
                                                  </a>
                                              </div>
                                              {% endfor %}
                                          </div>                               
                                      </div>
                                  </div> 
                          </div>           
                      </div> 
                     {% endif %}
                </div>
                <div class=" col-sm-12 col-lg-5 border">
                    {% for video in film.video.all %} 
                    <div class="row">
                        <div class="col-12">
                            <p class="h4 p-2 mb-1 text-center rounded"">{{ video.name }}</p>
                            <div class="embed-responsive embed-responsive-16by9 float-left">
                            <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/uX-UslzP_vE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.UrlVideo }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                        </div>             
                    </div>    
                    {% endfor %}
                </div> 
                    
                <div class="col-sm-12 col-lg-2  border">
                      
                            <div class="row">
                              <div class="col-12">
                                    <p class="h3 p-2 mb-1 text-center rounded">Suggestions</p>
                              </div> 
                            </div>
                            
                            {% for suggestion in suggestions %}  
                            {% if suggestion.title not in film.title %} 
                            <div class="row">
                            <div class="col-lg-12">
                                    <div class="card d-block">
                                    <a href="/films/{{suggestion.id}}"><img class="card-img-top" src="{{ suggestion.picture.url }}" alt="{{ suggestion.title }}" /> </a>    
                                    </div>         
                            </div> 
                            </div> 
                            
                         
                        {% endif %} 
                        {% endfor %}                   
                </div> 
              </div>

             
          </article>

</main><!--end main.container-fluid-->
{% endblock %}
