
<div class="row d-flex m-5">
<form  id="searchForm" action="#" method="get" accept-charset="utf-8">
    <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Filtrer par genre</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="genre_search">
              <option selected></option>
              {% for genre in genres %}
              <option value="{{ genre.id }}">{{ genre.genre }}</option>
              {% endfor %}
            </select> <!--fin Bouton de filtre  Genre-->
           
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Filtrer par annnée de création </label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="year_search">
              <option selected></option>
              {% for year in years %}
              <option value="{{ year.an_creation }}">{{ year.an_creation }}</option>
              {% endfor %}
            </select>
            
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Chercher par nom de film </label>
            </div>
            <input type="search" name="query" placeholder="Rechercher" class="form-control" />
            <div class="input-group-append">
                <button class="btn bg-film "><i class="fas fa-search"></i></button>
            </div>           
    </div>
</form>
</div> 
<div>
    {% if films %}
    <section class="row m-1">
    {% for film in films %}
      <!-- films  -->    
          <div class="col-12 col-md-6 col-lg-2 d-flex">
            <div class="card img-fluid">
              <a href="/films/{{film.id}}"><img src="{{ film.picture.url }}" alt="{{ film.title }}" class="card-img-top" /></a> 
            </div><!--End .card-->
          </div><!--End first element-->   
    {% endfor %}
    </section><!--End section.row third row-->  
  {% else %}
    <div class="text-center">
      Pas de film
    </div>
  {% endif %}
  
</div>

 <!--Begin Bottom pagination - Mise en forme-->
{% if is_paginated %}
   <nav>
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
        {% endif %}
          <li class="page-item active"><a href="#" class="page-link">{{ page_obj.number }}/ {{ page_obj.paginator.num_pages }} </a></li>
        {% if page_obj.has_next %}
          <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
        {% endif %}
      </ul>
   </nav>
{% endif %}