<div class="col-12">
    <hr>
    <div class="input-group mb-6">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Nos créations - filtrer par genre</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Choisir le genre..</option>
              <option value="1">Long métrage</option>
              <option value="2">Court métrage</option>
              <option value="3">Cuisine</option>
              <option value="4">Fan Film</option>
            </select> <!--fin Bouton de filtre  Genre-->
          
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Filtrer par annnée de création </label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option selected>Choisir l'année</option>
                  <option value="1">2018</option>
                  <option value="2">2017</option>
                  <option value="3">2016</option>
                  <option value="4">2003-2015</option>
            </select>
    </div>
    <hr class="detail-separator">
</div> 
<div>
    {% if films %}
    <section class="row">
    {% for film in films %}
      <!-- films  -->    
          <div class="col-12 col-md-6 col-lg-2 d-flex">
            <div class="card img-fluid">
              <a href="/films/{{film.id}}"><img src="{{ film.picture.url }}" alt="{{ film.title }}" class="card-img-top" /></a> 
            </div><!--End .card-->
          </div><!--End first element-->   
    {% endfor %}
    </section><!--End section.row third row-->  
  {% else %}
    <div class="text-center">
      Pas de film
    </div>
  {% endif %}
  
</div>

 <!--Begin Bottom pagination - Mise en forme-->
{% if is_paginated %}
   <nav>
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo;</a></li>
        {% endif %}
          <li class="page-item active"><a href="#" class="page-link">{{ page_obj.number }}/ {{ page_obj.paginator.num_pages }} </a></li>
        {% if page_obj.has_next %}
          <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
        {% endif %}
      </ul>
   </nav>
{% endif %}