.scroll-film {
    overflow:auto; 
    height: 800px;
}
.bg-film {
    background-color: gainsboro;
}
.bg-nav-film {
    background-color:#3498DB ;
}
.bg-image {
	background-image: url(../img/video.jpg);
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
}
.blank {
    color: white;
}