.scroll-film {
    overflow:auto; 
    height: 800px;
}
.bg-film {
    background-color: gainsboro;
}
.bg-nav-film {
    background-color: rgba(210, 237, 250, 0.774);
}
.bg-image {
	background-image: url(../img/video.jpg);
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
}