.scroll-film {
    overflow:auto; 
    height: 800px;
}
.bg-film {
    background-color: lightgrey
}
.bg-image {
	background-image: url(../img/video.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}